out/
.idea/
*.class
target/
build/
.gradle/
*.iml
*.jar
*.log
.DS_Store
.vscode/

JsonExamples/Evaluation/*/output.json
JsonExamples/Evaluation/*/output*.json
JsonExamples/Evaluation/*/*.txt
JsonExamples/Evaluation/*/evaluation
code/test/resources/*/*/output.json
JsonExamples/InputData
